<!-- PARTIAL FOR MENU -->

<!-- ICON THAT OPENS/CLOSES MENU -->
<div class="button_container" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>


<!-- MENU -->
<div class="overlay closed" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li> <%= link_to 'HOME', root_path, method: :get, :style=>'color:#EC1A53;' %> </li> <!-- THIS IS ACTUALLY THE READ LINK, BUT THE HOME LINK FOR NOW -->
      <li> <a href="/">EVENTS</a> </li>
      
      <li> <%= link_to 'ARTISTS', issues_path, method: :get, :style=>'color:#EC1A53;' %> </li>
      <li> <a href="/about">ABOUT OUZI</a> </li>
      <li> <%= link_to 'SUBMISSIONS', book_path, method: :get, :style=>'color:#EC1A53;' %> </li>
      <li> <a href="/">RESOURCES</a> </li>

      <li> <%= link_to 'CONTACT', new_contact_path, method: :get, :style=>'color:#EC1A53;' %> </li>

      <li> <a href="/">VIDEOS</a> </li>
      <li> <%= link_to 'MUSIC', root_path, method: :get, :style=>'color:#EC1A53;' %> </li>
    </ul>
  </nav>
</div>